{% extends 'dashbase.html' %}
{% block title %}
    Students Dashboard
{% endblock %}

{% block content %}

  <div class=" container-fluid row p-5" >

    <!-- Left Column: Student Registration Form -->
    <div class="col-md-4" style="border-right: 1px solid red;border-left: 1px solid red;">
      <u><h3 class="bg-dark text-white p-1 text-center">Student Registration</h3></u>

      <form method="POST" action="/addstudent" style="width:100%;">
          {% csrf_token %}
        <div class="mb-3">
          <label for="name" class="form-label">Name</label>
          <input type="text" class="form-control" name="studname" id="name" placeholder="Enter your name" required>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" name="studmail" id="email" placeholder="Enter your email" required>
        </div>
        <div class="mb-3">
          <label for="age" class="form-label">Age</label>
          <input type="number" class="form-control" name="studage" id="age" placeholder="Enter your age" required>
        </div>
        <button type="submit" class="btn btn-primary m-1">Register</button>
      </form>
    </div>

    <!-- Right Column: Table displaying registered students -->
    <div class="col-md-8" style="border-right: 1px solid red;padding:10px;">
      <u><h3 class="bg-dark text-white text-center p-1">Registered Students</h3></u>
      <table class="table">
        <thead>
          <tr>
            <th >Name</th>
            <th >Email</th>
            <th >Age</th>
            <th >Edit</th>
            <th >Delete</th>
          </tr>
        </thead>
        <tbody>
        {% for student in data %}
            <tr>
                <td>{{ student.studentname }}</td>

                <td>{{ student.email }}</td>

                <td>{{ student.age }}</td>
               <td>
                     <a href="/editstudent/{{ student.id }}" type="button" class="btn btn-outline-info">Edit</a>
                </td>
                <td>
                     <a href="/deletestudent/{{ student.id }}" type="button" class="btn btn-outline-danger">Delete</a>
                </td>
               <td>
                     <a href="{% url 'mpesa' %}" type="button" class="btn btn-outline-success btn-lg">Pay-MPESA</a>
               </td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
      <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if data.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" tabindex="-1">First</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ data.previous_page_number }}">Previous</a>
                    </li>
                {% endif %}
                {% for num in data.paginator.page_range %}
                    <li class="page-item {% if num == data.number %}active{% endif %}">
                        <a class="page-link" href="?page={{ num }}">{{ num }}</a>
                    </li>
                {% endfor %}
                {% if data.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ data.next_page_number }}">Next</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ data.paginator.num_pages }}">Last</a>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
  </div>

{% endblock %}
